.erorr-login:hover {
    font-size: 17px;
    transition: all 500ms;
    font-size-adjust: 20px;
}

.main-con {
    margin-top: 32px;
    background-color: rgba(255, 255, 255, 0.767);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 9px 9px;
    padding: 15px;
}

.login-link:hover {
    font-size: 17px;
    transition: all 500ms;
    font-size-adjust: 20px;
}