.register-main-div {
    width: 50%;
    margin: auto;
    margin-top: 55px;
    background-color: rgba(255, 254, 254, 0.74) !important;
    -webkit-box-shadow: 18px 14px 18px 0px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 18px 14px 18px 0px rgba(0, 0, 0, 0.72);
    box-shadow: 18px 14px 18px 0px rgba(0, 0, 0, 0.72);
    border-radius: 10px 10px;
}