.shadow-card {
    -webkit-box-shadow: 28px 15px 15px -1px rgba(248, 248, 248, 0.75) !important;
    -moz-box-shadow: 28px 15px 15px -1px rgba(253, 253, 253, 0.75) !important;
    box-shadow: 28px 15px 15px -1px rgba(252, 252, 252, 0.75) !important;
    max-width: 352;
    opacity: 0.95;
    margin: 8px;
}

.main-pro {
    user-select: none;
}