.add-product {
    background-color: rgba(255, 255, 255, 0.952);
    width: 40%;
    margin: "auto";
    border-radius: 5px;
}

.alert {
    width: 40%;
    margin: auto;
    border-radius: 5px;
}

.is-add-div {
    margin-top: 25px;
}