.App {
  text-align: center;
}

body {
  background-image: url('/42.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff8 !important;
  background-blend-mode: color !important;
}
